<!-- BEGIN breadcrumb -->
<style>
	::ng-deep {
		ngx-daterangepicker-material {
			& {
				.md-drppicker {
					min-width: 640px !important;
				}
			}
		}
	}

	::ng-deep #appointmentsTab>.panel>.panel-heading {
		justify-content: space-between !important;
	}
</style>
<ol class="breadcrumb float-xl-end">
	<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
	<li class="breadcrumb-item active">Dashboard</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<!-- <h1 class="page-header">CAAPS-TESTING {{defualtTab | titlecase}} <small>Impresonating: AAAHolmes, Sherlock(Atty) Test-Attorney 3-Holmes, Sherlock</small></h1> -->
<h1 class="page-header">Dashboard</h1>
<!-- END page-header -->
<!--Tabs start here-->
<div class="col-xl-12">
	<ul class="nav nav-tabs justify-content-center">
		<!-- <li class="nav-item" (click)="defualtTab = 'null'">
				<a href="#section3_education1" data-bs-toggle="tab" class="nav-link active" [ngClass]="{'active':defualtTab == null}">
					<span class="d-sm-block d-none">Education_Back</span>
				</a>
			</li> -->
		<li class="nav-item" (click)=" validateSections('Dashboard')">
			<a href="#Dashboard" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab==='Dashboard','section-Invalid':sec0Invalid}">
				<span class="d-sm-block">Dashboard</span>
			</a>
		</li>
		<li class="nav-item" (click)=" validateSections('Appiontments')">
			<a href="#Appiontments" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab==='Appiontments','section-Invalid':sec1Invalid}">
				<span class="d-sm-block">Appointments</span>
			</a>
		</li>
		<li class="nav-item" (click)=" validateSections('Funds')">
			<a href="#Funds" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab==='Funds','section-Invalid':sec2Invalid}">
				<span class="d-sm-block">Funds</span>
			</a>
		</li>
		<li class="nav-item" (click)=" validateSections('Payments')">
			<a href="#Payments" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab==='Payments','section-Invalid':sec3Invalid}">
				<span class="d-sm-block">Payments</span>
			</a>
		</li>
		<li class="nav-item" (click)="validateSections('Utilities')">
			<a href="#Utilities" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab==='Utilities','section-Invalid':sec4Invalid}">
				<span class="d-sm-block">Utilities</span>
			</a>
		</li>
		<li class="nav-item" (click)=" validateSections('Reports')">
			<a href="#Reports" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab==='Reports','section-Invalid':sec5Invalid}">
				<span class="d-sm-block">Reports</span>
			</a>
		</li>
		<li class="nav-item" (click)=" validateSections('Help')">
			<a href="#Help" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab ==='Help','section-Invalid':sec6Invalid}">
				<span class="d-sm-block">Help</span>
			</a>
		</li>
		<li class="nav-item" (click)=" validateSections('Contact')">
			<a href="#Contact" data-bs-toggle="tab" class="nav-link active"
				[ngClass]="{'active':defualtTab ==='Contact','section-Invalid':sec7Invalid}">
				<span class="d-sm-block">Contact</span>
			</a>
		</li>

	</ul>
</div>
<!-- styleOne?{'background-color': 'red'} : {'background-color': 'blue'} -->
<div class="tab-content panel rounded-0 p-3 m-0" [style.background-color]="bgColor">
	<div class="tab-pane fade" id="Dashboard" [ngClass]="{'active show':defualtTab === 'Dashboard'}">
		<!-- BEGIN tabs  nav-justified-->
		<ul class="nav nav-tabs nav-tabs-inverse">

			<li class="nav-item"><a href="#Dashboard1" data-bs-toggle="tab" class="nav-link active"> <span
						class="d-none d-md-inline">Dashboard</span></a>
			</li>

		</ul>
		<div class="tab-content panel rounded-0 rounded-bottom mb-20px" [style.background-color]="bgColor">

			<div class="tab-pane fade active show" id="Dashboard1">

				<div class="row">
					<div class="col-md-6">
						<div class="col-md-12">
							<div class="d-flex justify-content-center m-2">
								<div class="stats-info">
									<h4>NEEDS ATTENTION</h4>
								</div>
							</div>
						</div>
						<!-- <perfect-scrollbar class="h-300px"> -->
						<div class="row mb-2">
							<!-- BEGIN col-3 -->
							<div class="col-xl-3 col-md-6">
								<!-- <div class="widget widget-stats bg-blue text-center"
									(click)="loadTable(5,'ACTIVE APPOINTMENTS')">
									<div class="stats-info pt-2 pb-2">
										<span class="">Active Appts &nbsp;&nbsp;</span>
										<div class="stats-number">5</div>
									</div>
									<div class="stats-link">
										<a class="">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
									</div>
								</div> -->
								<div style="min-width: 120px;" class="widget widget-stats bg-blue">
									<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
									<div class="stats-content text-center">
										<div class="stats-title fs-15px">Active <br>Appts</div>
										<div class="stats-number">5</div>
										<!-- <div class="stats-progress progress">
											<div class="progress-bar" style="width: 70.1%;"></div>
										</div> -->
										<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
									</div>
								</div>
							</div>
							<!-- END col-3 -->
							<!-- BEGIN col-3 -->
							<div class="col-xl-3 col-md-6">
								<!-- <div class="widget widget-stats bg-info text-center"
									(click)="loadTable(11,'NEED APPOINTMENT DOCS')">
						 
									<div class="stats-info pt-2 pb-2">
										<span class="">Need Appt Docs</span>
										<div class="stats-number">11</div>
									</div>
									<div class="stats-link">
										<a class="">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
									</div>
								</div> -->
								<div style="min-width: 120px;" class="widget widget-stats bg-info">
									<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
									<div class="stats-content text-center">
										<div class="stats-title fs-15px">Need Appt <br>Docs</div>
										<div class="stats-number">11</div>
										<!-- <div class="stats-progress progress">
											<div class="progress-bar" style="width: 70.1%;"></div>
										</div> -->
										<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
									</div>
								</div>
							</div>
							<!-- END col-3 -->
							<!-- BEGIN col-3 -->
							<div class="col-xl-3 col-md-6">
								<!-- <div class="widget widget-stats bg-orange text-center"
									(click)="loadTable(20,'UNSUBMITTED PMTS')">
									<div class="stats-info pt-2 pb-2">
										<span class="">Unsubmitted Pmts</span>
										<div class="stats-number">20</div>
									</div>
									<div class="stats-link">
										<a class="">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
									</div>
								</div> -->
								<div style="min-width: 120px;" class="widget widget-stats bg-orange">
									<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
									<div class="stats-content text-center">
										<div class="stats-title fs-15px">Unsubmitted <br>Pmts</div>
										<div class="stats-number">20</div>
										<!-- <div class="stats-progress progress">
											<div class="progress-bar" style="width: 70.1%;"></div>
										</div> -->
										<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
									</div>
								</div>
							</div>
							<!-- END col-3 -->
							<!-- BEGIN col-3 -->
							<div class="col-xl-3 col-md-6">
								<!-- <div class="widget widget-stats bg-red text-center"
									(click)="loadTable(3,'RETURNED APPOINTMENTS')">
									<div class="stats-info pt-2 pb-2">
										<span class="">Returned Appts</span>
										<div class="stats-number">3</div>
									</div>
									<div class="stats-link">
										<a class="">View Detail <i class="fa fa-arrow-alt-circle-right"></i></a>
									</div>
								</div> -->
								<div style="min-width: 120px;" class="widget widget-stats bg-red">
									<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
									<div class="stats-content text-center">
										<div class="stats-title fs-15px">Returned <br>Appts</div>
										<div class="stats-number">3</div>
										<!-- <div class="stats-progress progress">
											<div class="progress-bar" style="width: 70.1%;"></div>
										</div> -->
										<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
									</div>
								</div>
							</div>
							<!-- END col-3 -->

						</div>
						<!-- </perfect-scrollbar> -->


					</div>

					<div class="col-md-6">
						<div class="d-flex justify-content-center m-2">
							<div class="stats-info">
								<h4>{{appointmentType}}</h4>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 col-xl-12">
								<panel title="{{appointmentType}}" bodyClass="p-0" noButton="true">
									<!-- BEGIN table-responsive -->
									<div class="table-responsive">
										<table class="table" style="">
											<thead>
												<tr>
													<th nowrap>Preferred Name</th>
													<th nowrap>Case Number</th>
													<th nowrap>County Name</th>
													<th nowrap>Appointment Date</th>
													<th nowrap>Last Date of Service</th>
													<th nowrap>Name of Client</th>
													<th nowrap>Amount</th>
												</tr>
											</thead>
											<tbody>
												<!-- <tr *ngFor="let data of tempArray; let p=index">

													<td>{{getPreferredName()}}</td>
													<td>{{getRandomNumber()}}</td>
													<td>{{getCountyName()}}</td>
													<td>{{randomDate() | date:'LL-d-y'}}</td>
													<td>{{dateOfService()| date:'LL-d-y'}}</td>
													<td>{{getPreferredClient()}}</td>
													<td>{{p*100+100}}</td>
												</tr> -->
												<tr>
													<td>2</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
												<tr>
													<td>3</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
													<td>Table cell</td>
												</tr>
											</tbody>
										</table>
									</div>
									<!-- END table-responsive -->


								</panel>
							</div>
						</div>
					</div>

				</div>

				<div class="row">
					<!-- <div class="col-md-12"> -->
					<div class="col-md-12">
						<div class="d-sm-flex align-items-center mb-3 justify-content-center">
							<div (click)="open($event)"
								class="ngx-daterangepicker-action btn btn-inverse me-2 text-truncate d-flex align-items-center">
								<i class="fa fa-calendar fa-fw text-white-transparent-5 ms-n1 me-1"></i>
								<input type="text" class="form-control w-300px shadow-none" readonly
									placeholder="Choose date" ngxDaterangepickerMd [locale]="locale" [opens]="'right'"
									[alwaysShowCalendars]="alwaysShowCalendars" [ranges]="ranges" [showDropdowns]="true"
									[showCustomRangeLabel]="true" [showClearButton]="true" [showCancel]="true"
									[(ngModel)]="selected" (ngModelChange)="ngModelChange($event)" />
								<b class="caret ms-1 opacity-5"></b>
							</div>

						</div>
					</div>
					<!-- </div> -->
				</div>
				<div class="row">
					<div class="col-md-7">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="APPOINTMENTS" bodyClass="p-0" noButton="true" style="text-align: center;">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<!-- <th colspan="1" class="text-center">Total</th> -->
												<th colspan="1" class="text-center">Open</th>
												<th colspan="1" class="text-center">Closed</th>
												<th colspan="1" class="text-center">Pending</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<!-- <td nowrap><label class="">100</label></td> -->
												<td nowrap><label class="">47</label></td>
												<td nowrap><label class="">32</label></td>
												<td nowrap><label class="">21</label></td>

											</tr>
										</tbody>
									</table>
								</div>
							</panel>

							<panel title="PAYMENTS" bodyClass="p-0" noButton="true" style="text-align: center;">
								<div class="table-responsive mb-4" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Pending</th>
											</tr>
										</thead>
										<tbody>
											<!-- <tr>
														<td colspan="2"><label class="">Approved</label></td>
														<td colspan="2"><label class="">Pending</label></td>
													</tr> -->

											<tr>
												<td nowrap><label class="">55</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">85</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>

							</panel>

							<!-- <panel title="FUNDING REQUESTS" bodyClass="p-0" noButton="true" style="text-align: center">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Pending</th>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</panel> -->

						</div>

					</div>
					<div class="col-md-5 p-0">
						<div class="col-xl-12 col-md-12" style="padding: 0px;">

							<panel title="APPOINTMENTS-Chart" bodyClass="p-0" noButton="true"
								style="text-align: center;">
								<div class="flex-grow-1 d-flex justify-content-center dark-mode"
									style="max-height: 255px;">

									<!-- <ngx-charts-pie-chart [scheme]="chartColor" [results]="pieChartData"
										[legend]="false" [explodeSlices]="false" [labels]="false" [doughnut]="true">
									</ngx-charts-pie-chart> -->
									<ngx-charts-pie-chart [scheme]="chartColor" [results]="pieChartData"
										[legend]="false" [explodeSlices]="false" [labels]="true" [doughnut]="false">
									</ngx-charts-pie-chart>


								</div>

							</panel>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-7">
						<div class="col-xl-12 col-md-12 p-0">

							<!-- <panel title="PAYMENTS" bodyClass="p-0" noButton="true" style="text-align: center;">
								<div class="table-responsive mb-4" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Pending</th>
											</tr>
										</thead>
										<tbody>
										 
											<tr>
												<td nowrap><label class="">55</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">85</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>
								
							</panel> -->
							<panel title="FUNDING REQUESTS" bodyClass="p-0" noButton="true" style="text-align: center">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0 table-stripe">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Pending</th>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td nowrap><label class="">44</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">76</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">56</label></td>
												<td>$0.00</td>
											</tr>
											<tr>
												<td nowrap><label class="">55</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">85</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">45</label></td>
												<td>$0.00</td>
											</tr>
											<tr>
												<td nowrap><label class="">57</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">101</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">61</label></td>
												<td>$0.00</td>
											</tr>
											<tr>
												<td nowrap><label class="">56</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">98</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">80</label></td>
												<td>$0.00</td>
											</tr>
											<tr>
												<td nowrap><label class="">61</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">87</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">36</label></td>
												<td>$0.00</td>
											</tr>
											<tr>
												<td nowrap><label class="">58</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">105</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">45</label></td>
												<td>$0.00</td>
											</tr>
											<tr>
												<td nowrap><label class="">63</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">91</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">11</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</panel>
						</div>
					</div>
					<div class="col-md-5 p-0">
						<div class="col-xl-12 col-md-12 p-0" *ngIf="chart2Options">
							<div style="">
								<panel title="PAYMENTS-Chart" bodyClass="p-0" noButton="true"
									style="text-align: center;">
									<apx-chart [series]="chart2Options.series" [chart]="chart2Options.chart"
										[colors]="chart2Options.colors" [legend]="chart2Options.legend"
										[xaxis]="chart2Options.xaxis" [yaxis]="chart2Options.yaxis"
										[dataLabels]="chart2Options.dataLabels" [grid]="chart2Options.grid"
										[stroke]="chart2Options.stroke" [title]="chart2Options.title"
										[plotOptions]="chart2Options.plotOptions" [fill]="chart2Options.fill"
										[tooltip]="chart2Options.tooltip"></apx-chart>
								</panel>
							</div>
						</div>
					</div>
				</div>


				<!-- <div class="row">
					<div class="col-md-6">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="FUNDING REQUESTS" bodyClass="p-0" noButton="true" style="text-align: center;">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Pending</th>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</panel>
						</div>
					</div>
					<div class="col-md-6 p-0">
						<div class="col-xl-12 col-md-12" style="padding: 0px;">
							<panel title="FUNDING REQUESTS-Chart" bodyClass="p-0" noButton="true"
								style="text-align: center;"> </panel>
						</div>
					</div>
				</div> -->


				<div class="row">
					<div class="col-md-7">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="OVER HOURS REQUESTS" bodyClass="p-0" noButton="true"
								style="text-align: center;">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="1" class="text-center"></th>
												<th colspan="1" class="text-center">Pending</th>
												<th colspan="1" class="text-center">Approved</th>
												<th colspan="1" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td nowrap><label class="">Thu 15,Feb</label></td>
												<td nowrap><label class="">23</label></td>
												<td nowrap><label class="">11</label></td>
												<td nowrap><label class="">54</label></td>

											</tr>
											<tr>
												<td nowrap><label class="">Sat 17,Feb</label></td>
												<td nowrap><label class="">65</label></td>
												<td nowrap><label class="">54</label></td>
												<td nowrap><label class="">27</label></td>

											</tr>
											<tr>
												<td nowrap><label class="">Mon 19,Feb</label></td>
												<td nowrap><label class="">35</label></td>
												<td nowrap><label class="">63</label></td>
												<td nowrap><label class="">70</label></td>

											</tr>
											<tr>
												<td nowrap><label class="">Wed 21,Feb</label></td>
												<td nowrap><label class="">40</label></td>
												<td nowrap><label class="">20</label></td>
												<td nowrap><label class="">44</label></td>

											</tr>
											<tr>
												<td nowrap><label class="">Fri 23,Feb</label></td>
												<td nowrap><label class="">47</label></td>
												<td nowrap><label class="">19</label></td>
												<td nowrap><label class="">44</label></td>

											</tr>
										</tbody>
									</table>
								</div>
							</panel>
						</div>
					</div>
					<div class="col-md-5 p-0">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="OVER HOURS REQUESTS-Chart" bodyClass="p-0" noButton="true"
								style="text-align: center;">
								<div class="widget-chart-full-width dark-mode" style="height: 268px">
									<div class="h-100">
										<ngx-charts-line-chart [animations]="false" [scheme]="chartColor"
											[results]="chartData" [xAxis]="true" [yAxis]="true" [legend]="false"
											[showXAxisLabel]="false" [showYAxisLabel]="false" [roundDomains]="true"
											[autoScale]="true">
										</ngx-charts-line-chart>
									</div>
								</div>
							</panel>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col-md-6">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="OVERMAX REQUESTS" bodyClass="p-0" noButton="true" style="text-align: center;">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Pending</th>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</panel>
						</div>
					</div>
					<div class="col-md-6 p-0">
						<div class="col-xl-12 col-md-12 p-0">
							<!-- <panel title="OVERMAX REQUESTS-Chart" bodyClass="p-0" noButton="true"
								style="text-align: center;"> </panel> -->
							<panel title="MISCELLANEOUS" bodyClass="p-0" noButton="true" style="text-align: center;">
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="1" class="text-center">Pending</th>
												<th colspan="1" class="text-center">Approved</th>
												<th colspan="1" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td nowrap><label class="">0</label></td>
												<td nowrap><label class="">0</label></td>
												<td nowrap><label class="">0</label></td>

											</tr>
										</tbody>
									</table>
								</div>
							</panel>
						</div>
					</div>
				</div>


				<!-- <div class="row">
					<div class="col-md-6">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="MISCELLANEOUS" bodyClass="p-0" noButton="true"
										style="text-align: center;">
										<div class="table-responsive" style="">
											<table class="table table-panel align-middle mb-0">
												<thead>
													<tr>
														<th colspan="1" class="text-center">Pending</th>
														<th colspan="1" class="text-center">Approved</th>
														<th colspan="1" class="text-center">Denied</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td nowrap><label class="">0</label></td>
														<td nowrap><label class="">0</label></td>
														<td nowrap><label class="">0</label></td>

													</tr>
												</tbody>
											</table>
										</div>
									</panel>
						</div>
					</div>
					<div class="col-md-6 p-0">
						<div class="col-xl-12 col-md-12 p-0">
							<panel title="MISCELLANEOUS-Chart" bodyClass="p-0" noButton="true"
								style="text-align: center;"> </panel>
						</div>
					</div>
				</div> -->

				<div class="row">
					<div class="col-xl-12 col-md-12 ">
						<panel title="SUB-CONTRACTORS PAYMENTS" bodyClass="p-0" noButton="true"
							style="text-align: center;">
							<div>
								<div class="table-responsive" style="">
									<table class="table table-panel align-middle mb-0">
										<thead>
											<tr>
												<th colspan="2" class="text-center">Pending</th>
												<th colspan="2" class="text-center">Approved</th>
												<th colspan="2" class="text-center">Denied</th>
											</tr>
										</thead>
										<tbody>

											<tr>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
												<td nowrap><label class="">0</label></td>
												<td>$0.00</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</panel>


					</div>


				</div>

			</div>

		</div>
		<!-- END tabs -->
	</div>

	<div class="tab-pane fade" id="Appiontments" [ngClass]="{'active show':defualtTab === 'Appiontments'}">
		<div class="row mb-2">
			<!-- <div class="row">
				<div class="widget-header">
					<div class="widget-header-title">
						<span class="fs-18px" style="line-height:35px;" *ngIf="addAppoitment">Cases</span>
						<a class="float-end btn btn-success ms-2" (click)="addAppoitment = !addAppoitment;">
							<span *ngIf="addAppoitment"><i class="fas fa-plus"></i> New Case</span>
							<span *ngIf="!addAppoitment"><i class="fas fa-arrow-alt-circle-right fa-rotate-180"></i>
								Back </span>
						</a>
						&nbsp;&nbsp;&nbsp;
						<a #hidden class="float-end btn btn-primary" href="#applicantfile_modal" data-bs-toggle="modal"
							*ngIf="addAppoitment" data-bs-target="#staticBackdrop"> Select Case</a> 
					</div>
				</div>
			</div> -->
			<!-- <div class="row justify-content-between">
				<div class="col-4">
					<label>Client Details</label>
				</div>
				<div class="col-4">
					<label>DISPOSITION: CASE DISMISSED</label>
				</div>
			  </div> -->
			<div class="d-flex justify-content-between">
				<div><label>Client Details</label></div>
				<div><label>Disposition: <b> CASE DISMISSED</b></label></div>
			</div>
			<hr />

			<div class="d-flex justify-content-between">
				<div class="profile-header-content">
					<div class="profile-header-info">
						<h4 class="mt-0 mb-1">Robert P.Chavez</h4>
						<p class="mb-2">(303)-900-1400 | rchavez88@gmail..com</p>
						<p class="mb-2">1234 Main St,Suite 200,Colfax Ave,Lakewood 80112</p>
					</div>
				</div>

				<div class="profile-header-content">
					<div class="profile-header-info">
						<h4 class="mt-0 mb-1">Case ID: #2345-XDW</h4>
						<div>
							<label>Appt Status:&nbsp;</label>
							<span
								class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2">
								Approved
							</span>
						</div>
						<div>
							<label>Desc: </label>
							<span>
								CASE CLOSED
							</span>
						</div>
					</div>
				</div>
			</div>

			<div class="">

				<div class="row" *ngIf="addAppoitment">

					<panel panelClass="panel-with-tabs text-start  " noButton="true" variant="default"
						id="appointmentsTab">
						<ng-container header>
							<!-- <h4 class="panel-title">Panel with Tabs</h4> -->
							<ul class="nav nav-tabs">
								<li class="nav-item"><a href="#case" data-bs-toggle="tab" class="nav-link active"> <span
											class="d-none d-md-inline">Case Information</span></a></li>
								<li class="nav-item"><a href="#demographic" data-bs-toggle="tab" class="nav-link"> <span
											class="d-none d-md-inline">Demographic Information</span></a></li>
								<li class="nav-item"><a href="#appointee" data-bs-toggle="tab" class="nav-link"> <span
											class="d-none d-md-inline">Appointee</span></a></li>
								<li class="nav-item"><a href="#charts" data-bs-toggle="tab" class="nav-link"> <span
											class="d-none d-md-inline">Charts</span></a></li>
								<li class="nav-item"><a href="#payments" data-bs-toggle="tab" class="nav-link"> <span
											class="d-none d-md-inline">Payments</span></a></li>
								<li class="nav-item"><a href="#staffComments" data-bs-toggle="tab" class="nav-link">
										<span class="d-none d-md-inline">Staff Comments</span></a></li>
								<li class="nav-item"><a href="#apptStatusMessage" data-bs-toggle="tab" class="nav-link">
										<span class="d-none d-md-inline">Appt.Status Message</span></a></li>

							</ul>
							<div class="btn-group btn-group-toggle my-n1" data-toggle="buttons"> 
								<div class="d-flex flex-wrap">
									<button type="button" class="btn btn-xs btn-white me-1 mb-1">Dates Overlap</button>
									<button type="button" class="btn btn-xs btn-info me-1 mb-1">Update Case Info</button>
									<button type="button" class="btn btn-xs btn-indigo me-1 mb-1">Funds</button>
									<button type="button" class="btn btn-xs btn-success me-1 mb-1">Save</button>
									<button type="button" class="btn btn-xs btn-purple me-1 mb-1">C to H</button>
								</div>
							</div>
						</ng-container>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="case">

								<div class="d-flex justify-content-between mb-5">
									<div class="text-center">
										<label class="form-label col-form-label">Case ID:
											&nbsp;</label>
										<span
											class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-20px">
											1234</span>
									</div>
									<div class="text-center"><label>Desc:&nbsp;</label> <span
											class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-20px">
											Trail</span> </div>
									<div class="text-center"><label>Status:&nbsp;</label> <span
											class="badge border border-danger text-danger px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-20px">
											Pending</span></div>
								</div>

								<form action="/" method="POST">
									<fieldset>
										<div class="row justify-content-center mb-15px">
											<div class="col-4">
												<label class="form-label" for="exampleInputEmail1">Client</label> <br>
												<span
													class="badge border  px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-12px">
													Robert</span>
												<span
													class="badge border  px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-12px">
													P</span>
												<span
													class="badge border  px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-12px">
													Chavez</span>
											</div>
											<div class="col-4">
												<label class="form-label">Reason for
													Conflict</label>
												<select class="form-select">
													<option>Victim/Witness</option>
													<option>Opponent</option>
												</select>
											</div>
										</div>

										<div class="row justify-content-center mb-30px">
											<div class="col-8">
												<label class="form-label col-form-label">Comment on Reason</label>

												<textarea class="form-control" rows="3"></textarea>
											</div>
										</div>

										<div class="row justify-content-center  ">
											<div class="col-8">
												<hr>
											</div>
										</div>

										<div class="row justify-content-center mb-15px">
											<div class="col-4">

												<label class="form-label col-form-label">Case Classification</label>

												<select class="form-select mb-15px">
													<option>M/2</option>
												</select>


												<div class="row mb-15px">
													<label class="form-label col-form-label">Most Serious Charge</label>
													<div class="">
														<select class="form-select mb-2">
															<option>Victim/Witness</option>
														</select>
														<!-- <div class="col-md-8 pt-2"> -->
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio"
																id="inlineRadio1" name="inlineRadio" />
															<label class="form-check-label"
																for="inlineRadio1">Adult</label>
														</div>
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio"
																id="customRadio2" name="inlineRadio" />
															<label class="form-check-label"
																for="customRadio2">Youth</label>
														</div>
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio"
																id="customRadio2" name="inlineRadio" />
															<label class="form-check-label" for="customRadio2">Youth as
																Adult</label>
														</div>
														<!-- </div> -->
													</div>
												</div>
											</div>
											<div class="col-4">
												<label class=" form-label col-form-label">Comment/Other Charges</label>
												<textarea class="form-control" rows="6"></textarea>
											</div>
										</div>

										<div class="row justify-content-center  ">
											<div class="col-8">
												<hr>
											</div>
										</div>


										<div class="row justify-content-center mb-15px">
											<div class="col-4">
												<label class="form-label col-form-label ">Classification</label>
												<div class="">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox1" value="Attempt">
														<label class="form-check-label"
															for="inlineCheckbox1">Attempt</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox2" value="Conspiracy">
														<label class="form-check-label"
															for="inlineCheckbox2">Conspiracy</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox2" value="Habitual">
														<label class="form-check-label"
															for="inlineCheckbox2">Habitual</label>
													</div>
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox2" value="Motion to Transfer">
														<label class="form-check-label" for="inlineCheckbox2">Motion to
															Transfer</label>
													</div>
												</div>
											</div>
											<div class="col-4">
												<!-- style="align-items: center;" -->
												<label class="form-label col-form-label">State</label>
												<div class="d-flex">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox1" value="Attempt">
														<label class="form-check-label" for="inlineCheckbox1">In
															Trail/Trail
															Done</label>
													</div>

													<div class="form-check form-check-inline ">

														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox2" value="Habitual">
														<span class="form-check-label" for="inlineCheckbox2">Case
															Closed</span>

													</div>
													<div class="ms-2">
														<input class="form-control mb-5px" type="date"
															id="inlineCheckbox2" value="">
													</div>

												</div>
											</div>
										</div>


										<div class="row justify-content-center mb-15px">
											<div class="col-4">
												<label class="form-label col-form-label">Final Disposition</label>

												<select class="form-select mb-15px">
													<option>Case Dismissed</option>
												</select>
											</div>
											<div class="col-4">
												<label class="form-label col-form-label mb-2"></label>
												<div class="form-check form-check-inline d-flex">
													<div>
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox1" value="Attempt">
														<label class="form-check-label" for="inlineCheckbox1">Other
															Languages</label>
													</div>
													<div class="ms-2">
														<select class="form-select">
															<option>M/2</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="row  justify-content-center mb-15px">
											<div class="col-8 ">
												<div class="d-flex flex-wrap justify-content-end">
													<button type="button"
														class="btn btn-md btn-white me-1 mb-1">Cancel</button>
													<button type="button"
														class="btn btn-md btn-success me-1 mb-1">Save</button>

												</div>
											</div>
										</div>
									</fieldset>

								</form>

								<div class="panel-footer text-start">
									<label>Added by Mark Kuwitz 03/12/2024 09:34 AM Last updated by David Nunez
										03/09/2024 4:31 PM</label>
								</div>

							</div>


							<div class="tab-pane fade" id="demographic">
								<form #f="ngForm" (ngSubmit)="formSubmit(f)" class="fs-13px">
									<div class="container">
										<div class="row">
											<div class="col">

											</div>
											<div class="col-8">
												<!-- <panel title="Add User">  -->
												<div class="modal-body">
													<div class="card-body">
														<!-- <div class="mb-4"><h3>Add New User</h3></div> -->
														 

														<div class="mb-3">
															<label class="form-label">Race/Ethnicity</label>
															<select class="form-control">
																<option value="">Select</option>
																<option value="Active">Race</option>
																<option value="Inactive">Ethnicity</option>
															</select>
														</div>
														<div class="mb-3">
															<label class="form-label">Gender</label>
															<div class="">
																 
																<!-- <div class="col-md-8 pt-2"> -->
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio"
																		id="Male" name="inlineRadio" />
																	<label class="form-check-label"
																		for="inlineRadio1">Male</label>
																</div>
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio"
																		id="Female" name="inlineRadio" />
																	<label class="form-check-label"
																		for="customRadio2">Female</label>
																</div>
																<div class="form-check form-check-inline">
																	<input class="form-check-input" type="radio"
																		id="Others" name="inlineRadio" />
																	<label class="form-check-label" for="customRadio2">Others </label>
																</div>
																<!-- </div> -->
															</div>
															<!-- <select class="form-control">
																<option value="">Select</option>
																<option value="Male"></option>
																<option value="Female"></option>
																<option value="Others"></option>
															</select> -->
														</div>

														<div class="mb-3">
															<label class="form-label">LGBTQIA+</label>
															<select class="form-control">
																<option value="">Select</option>
																<option value="LGBTQIA">LGBTQIA</option>
															</select>
														</div>
														<div class="mb-3">
															<label class="form-label">Veteran</label>
															<select class="form-control">
																<option value="">Select</option>
																<option value="Veteran">Veteran</option>
															</select>
														</div>
														<div class="mb-3">
															<label class="form-label">Disability</label>
															<select class="form-control">
																<option value="">Visually Handicap</option>
																<option value="Veteran">Person with Disability</option>
															</select>
														</div>

													</div>
												</div>
												<div class="modal-footer">
													<a class="btn btn-white ms-2">Cancel</a>
													<button type="submit" aria-hidden="true"
														class="btn btn-success ms-2">Update</button>
												</div>

											</div>
											<div class="col">

											</div>
										</div>
									</div>
								</form>
							</div>

							<div class="tab-pane fade" id="appointee">
								<div class="d-flex justify-content-between mb-5">
									<div class="text-center">
										<label class="form-label col-form-label">Appt ID:
											&nbsp;</label>
										<span
											class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-20px">
											1234</span>
									</div>
									<div class="text-center"><label>Type:&nbsp;</label> <span
											class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-20px">
											Attorney 3</span> </div>
									<div class="text-center"><label>Status:&nbsp;</label> <span
											class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2 fs-20px">
											Approved</span></div>
								</div>

								<form action="/" method="POST">
									<fieldset>
										<div class="row justify-content-center mb-15px">
											<div class="col-4">
												<label class="form-label" for="exampleInputEmail1">Appointment Date :
													03/18/2024</label>

											</div>
											<div class="col-4 text-end">
												<label class="form-label" for="exampleInputEmail1">Professional ID :
													2236 </label>
											</div>
										</div>


										<div class="row justify-content-center mb-15px">
											<div class="col-8">
												<div class="row mb-15px">
													<label class="form-label col-form-label"> </label>
													<div class="">
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio"
																id="inlineRadio1" name="inlineRadio" />
															<label class="form-check-label"
																for="inlineRadio1">Contract</label>
														</div>
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio"
																id="customRadio2" name="inlineRadio" />
															<label class="form-check-label"
																for="customRadio2">Standard</label>
														</div>
														<div class="form-check form-check-inline">
															<input class="form-check-input" type="radio"
																id="customRadio2" name="inlineRadio" />
															<label class="form-check-label" for="customRadio2"> C to
																H</label>
														</div>
														<!-- </div> -->
													</div>
												</div>
											</div>

										</div>



										<div class="row justify-content-center mb-15px">
											<div class="col-8">
												<label class="form-label col-form-label ">Rate: Default &nbsp;&nbsp;
													<span
														class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-cente  fs-15px">
														Set Custom Rate
													</span>
												</label>
											</div>
										</div>

										<div class="row justify-content-center mb-15px">
											<div class="col-8">
												<!-- <label class="form-label col-form-label">Status</label> -->
												<div class="d-flex">
													<div class="form-check form-check-inline">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox1" value="Attempt">
														<label class="form-check-label" for="inlineCheckbox1">
															Appointment Closed </label>
													</div>

													<div class="form-check form-check-inline ">
														<input class="form-check-input" type="checkbox"
															id="inlineCheckbox2" value="Habitual">
														<span class="form-check-label" for="inlineCheckbox2"> Managing
															Atty</span>
													</div>
												</div>
											</div>
										</div>
										<div class="row justify-content-center mb-15px">
											<div class="col-8">
												<label class="form-label col-form-label">Reason Closed</label>

												<select class="form-select mb-15px">
													<option>Case Closed</option>
												</select>
											</div>
											<!-- <div class="col-4"> 
												<label class="form-label col-form-label mb-2">Email : honas@gmail.com</label> 
													 
											</div> -->
										</div>
										<div class="row justify-content-center mb-15px">
											<div class="col-8">
												<label class="form-label col-form-label">Comment : </label>

											</div>
										</div>
										<div class="row justify-content-center mb-15px">
											<div class="col-8">
												<button class="btn btn-success btn-sm ">Save Comment</button>
												<textarea class="form-control" rows="6"></textarea>

											</div>
										</div>
									</fieldset>

								</form>
							</div>
							<div class="tab-pane fade" id="charts">
								<p>Under Development... </p>
							</div>
							<div class="tab-pane fade" id="payments">
								<p>Under Development... </p>
							</div>
							<div class="tab-pane fade" id="staffComments">
								<p>Under Development... </p>
							</div>
							<div class="tab-pane fade" id="apptStatusMessage">
								<p>Under Development... </p>
							</div>
						</div>

						<ng-container outsideBody>
							<!-- BEGIN hljs-wrapper -->
							<div class="hljs-wrapper">
								<pre><code class="xml" [highlight]="code10"></code></pre>
							</div>
							<!-- END hljs-wrapper -->
						</ng-container>
					</panel>
				</div>

			</div>

			<div class="row" *ngIf="!addAppoitment">
				<div class="row mb-2">
					<div class="col-md-12 col-xl-12 d-flex">
						<div class="col-md-3"> <input type="text" name="userFirstName" class="form-control"
								placeholder="First Name"></div>
						<div class="col-md-3"> <select class="form-select" name="selectedOrganizationId">
								<option selected>All Cases
								</option>
							</select></div>
						<div class="col-md-3">
							<a class=" ms-2 btn btn-primary">Load</a>
							<a class=" ms-2 btn btn-danger">Cancel</a>
							<a class=" ms-2 btn btn-success">New</a>
						</div>

					</div>
				</div>
				<div class="col-md-12 col-xl-12">
					<panel title="Inactive Appointments" bodyClass="p-0" noButton="true">
						<!-- BEGIN table-responsive -->
						<div class="table-responsive">
							<table class="table" style="">
								<thead>
									<tr>
										<th colspan="2">Cases</th>
										<th nowrap>County</th>
										<th nowrap>Case Category</th>
										<th nowrap>Preferred Name</th>
										<th nowrap>Type</th>
										<th nowrap>Client</th>
										<th nowrap>Closed</th>
										<th nowrap>Rtm</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
										<td>Select</td>
										<td>{{i}}</td>
										<td>Denver</td>
										<td>Trail</td>
										<td>AAAHolmes, Sherlock(Atty) Test</td>
										<td>Attorney</td>
										<td>Test</td>
										<td> <input class="form-check-input" type="checkbox" value=""
												id="flexCheckDefault{{i}}"></td>
										<td><input class="form-check-input" type="checkbox" value=""
												id="flexCheckDefaultRtm{{i}}"> </td>

									</tr>

								</tbody>
							</table>
						</div>
						<!-- END table-responsive -->


					</panel>
				</div>
			</div>
		</div>




	</div>
	<div class="tab-pane fade" id="Funds" [ngClass]="{'active show':defualtTab === 'Funds'}">
		<div class="row mb-2">
			<div class="col-md-12 col-xl-12">
				<h2>Coming soon...</h2>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="Payments" [ngClass]="{'active show':defualtTab === 'Payments'}">
		<div class="row mb-2">
			<div class="col-md-12 col-xl-12">
				<h2>Coming soon...</h2>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="Utilities" [ngClass]="{'active show':defualtTab === 'Utilities'}">
		<div class="row mb-2">
			<div class="col-md-12 col-xl-12">
				<h2>Coming soon...</h2>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="Reports" [ngClass]="{'active show':defualtTab === 'Reports'}">
		<div class="row mb-2">
			<div class="col-md-12 col-xl-12">
				<h2>Coming soon...</h2>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="Help" [ngClass]="{'active show':defualtTab === 'Help'}">
		<div class="row mb-2">
			<div class="col-md-12 col-xl-12">
				<h2>Coming soon...</h2>
			</div>
		</div>
	</div>
	<div class="tab-pane fade" id="Contact" [ngClass]="{'active show':defualtTab === 'Contact'}">
		<div class="row mb-2">
			<div class="col-md-12 col-xl-12">
				<h2>Coming soon...</h2>
			</div>
		</div>
	</div>
</div>
<!--Tabs end here-->