<div class="d-flex align-items-center mb-3">
	<div>
		<!-- <ul class="breadcrumb">
			<li class="breadcrumb-item"><a href="#">Home</a></li>
			<li class="breadcrumb-item"><a href="#">Extra</a></li>
			<li class="breadcrumb-item active">Orders</li>
		</ul> -->
		<!-- <h1 class="page-header mb-0">Orders</h1> -->
		<div class="profile-header-content">
			<!-- BEGIN profile-header-img -->
			<div class="profile-header-img mb-2">
				<div><i class="fas fa-user  fa-7x custprofilepic"></i></div>
			</div>
			<!-- END profile-header-img -->
			<!-- BEGIN profile-header-info -->
			<div class="profile-header-info">
				<h4 class="mt-0 mb-1">John Smith</h4>
				<p class="mb-2">(303)-900-1400 | contractor@theLawFirmDenver.com</p>
				<p class="mb-2">1234 Main St,Suite 200,Colfax Ave,Lakewood 80112</p>
				<!-- <a href="#" class="btn btn-xs btn-yellow">Edit Profile</a> -->
			</div>
			<!-- END profile-header-info -->
		</div>
	</div>
	<div class="ms-auto">
		<div><label>OADC ID# : 026977</label></div>
		<div><label>CORE Vendor ID : CCVE456</label></div>
		<div>
			<span
				class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2"><i
					class="fa fa-circle fs-9px fa-fw me-5px"></i> Paralegal</span>
			<span
				class="badge border border-danger text-danger px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center mb-2"><i
					class="fa fa-circle fs-9px fa-fw me-5px"></i> Non Subcontracting</span>
		</div>

		<span
			class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center me-2 mb-2"><i
				class="fa fa-circle fs-9px fa-fw me-5px"></i> English</span>
		<span
			class="badge border border-success text-success px-2 pt-5px pb-5px rounded fs-12px d-inline-flex align-items-center  mb-2"><i
				class="fa fa-circle fs-9px fa-fw me-5px"></i> Spanish</span>
	</div>
</div>

<div class="row">
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-3">
		<div class="widget widget-stats bg-teal">
			<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			<div class="stats-content">
				<div class="stats-number">29</div>
				<div class="stats-title fs-5">Total Cases Assigned</div>
				<!-- <div class="stats-progress progress">
					<div class="progress-bar" style="width: 70.1%;"></div>
				</div> -->
				<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-3">
		<div class="widget widget-stats bg-blue">
			<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			<div class="stats-content block-cursor">
				<div class="stats-number">
					<a href="javascript:;" style="color: white;text-decoration: none;">
						4
					</a>
				</div>
				<div class="stats-title fs-5">Active Cases </div>

				<!-- <div class="stats-progress progress">
					<div class="progress-bar" style="width: 70.1%;"></div>
				</div> -->
				<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-3">
		<div class="widget widget-stats bg-purple">
			<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			<div class="stats-content block-cursor">
				<div class="stats-number">
					<a href="javascript:;" style="color: white;text-decoration: none;">
						07/2019
					</a>
				</div>
				<div class="stats-title fs-5">Affilated Since</div>

				<!-- <div class="stats-progress progress">
					<div class="progress-bar" style="width: 70.1%;"></div>
				</div> -->
				<!-- <div class="stats-desc">Better than last week (70.1%)</div> -->
			</div>
		</div>
	</div>
	<!-- END col-3 -->
	<!-- BEGIN col-3 -->
	<div class="col-xl-3 col-md-3">
		<div class="widget widget-stats bg-orange">
			<div class="stats-icon stats-icon-lg"><i class="fa fa-globe fa-fw"></i></div>
			<div class="stats-content block-cursor">
				<div class="stats-number">
					<a href="javascript:;" style="color: white;text-decoration: none;">
						Counties
					</a>
				</div>
				<div class="stats-title fs-5">Douglas, Jefferson</div>


			</div>
		</div>
	</div>
	<!-- END col-3 -->
</div>

<div class="row">
	<div class="col-xl-12">

		<ul class="nav nav-tabs">
			<li class="nav-item" (click)="defualtTab = 'availabilities'">
				<a href="#availabilities" data-bs-toggle="tab" class="nav-link active"
					[ngClass]="{'active':defualtTab==='availabilities'}">
					<span class="d-sm-block">Availabilities</span>
				</a>
			</li>
			<li class="nav-item" (click)="defualtTab = 'contracts'">
				<a href="#contracts" data-bs-toggle="tab" class="nav-link active"
					[ngClass]="{'active':defualtTab==='contracts'}">
					<span class="d-sm-block">Contracts</span>
				</a>
			</li>
			<li class="nav-item" (click)="defualtTab = 'notes'">
				<a href="#notes" data-bs-toggle="tab" class="nav-link active"
					[ngClass]="{'active':defualtTab==='field_investigation'}">
					<span class="d-sm-block">Notes</span>
				</a>
			</li>
			<li class="nav-item" (click)="defualtTab = 'courtObs'">
				<a href="#courtObs" data-bs-toggle="tab" class="nav-link active"
					[ngClass]="{'active':defualtTab==='courtObs'}">
					<span class="d-sm-block">Court Obs</span>
				</a>
			</li>
			<li class="nav-item" (click)="defualtTab = 'profile'">
				<a href="#profile" data-bs-toggle="tab" class="nav-link active"
					[ngClass]="{'active':defualtTab==='profile'}">
					<span class="d-sm-block">Profile</span>
				</a>
			</li>


		</ul>
		<div class="tab-content panel rounded-0 p-3 m-0">
			<div class="tab-pane fade" id="availabilities" [ngClass]="{'active show':defualtTab === 'availabilities'}">
				<div class="row">
					<div class="col-xl-12">
						<panel title="Availabilities" noButton="true">
							<div class="table-responsive">

								<!-- BEGIN table-responsive -->
								<div class="table-responsive">
									<table class="table" style="">
										<thead>
											<tr>
												<th colspan="1">Activity</th>
												<th nowrap>County</th>
												<th nowrap>Judicial District</th>
												<th nowrap>Start Date</th>
												<th nowrap>End Date</th>
												<th nowrap>Notes</th>
												<th nowrap class="text-center">Not On List</th>
												<th nowrap>Mentorship</th>
												<th nowrap>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
												<td>
													Paralegal - {{i}}
												</td>
												<td>Douglas</td>
												<td>18th</td>
												<td>{{i}}-02-2024</td>
												<td *ngIf="i%2===0">{{i+2}}-02-2024 </td>
												<td *ngIf="i%2!==0">{{i}}-02-2024 </td>
												<td>...</td>

												<td class="text-center"> <input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault{{i}}"></td>
												<td> All Stages</td>

												<td>
													<a class="btn btn-xs btn-info ms-2"> <i class="fas fa-pencil"></i>
														Edit </a>
												</td>

											</tr>

										</tbody>
									</table>
								</div>
								<!-- END table-responsive -->



							</div>
						</panel>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="contracts" [ngClass]="{'active':defualtTab === 'contracts'}">
				<div class="row">
					<div class="col-xl-12">
						<div class="text-end">
							<a href="#modal-addContract" class="btn btn-success m-2" data-bs-toggle="modal">
								<i class="fas fa-plus"></i> Add Contract</a>
						</div>
						<panel title="Contracts" noButton="true">
							<div class="table-responsive">

								<!-- BEGIN table-responsive -->
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th colspan="1">ContractID</th>
												<th nowrap>Type</th>
												<th nowrap>Start Date</th>
												<th nowrap>End Date</th>
												<th nowrap>Date Sent</th>
												<th nowrap>Status</th>
												<th nowrap class="text-center">First Contract</th>
												<th nowrap class="text-center">Do Not Review</th>
												<th nowrap class="text-center">Juvenile</th>
												<th nowrap>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
												<td>
													C100{{i}}
												</td>
												<td>Paralegal</td>
												<td>{{i}}-02-2024</td>
												<td *ngIf="i%2===0">{{i+2}}-02-2024 </td>
												<td *ngIf="i%2!==0">{{i}}-02-2024 </td>
												<td>{{i+10}}-02-2024</td>

												<td *ngIf="i%2===0">Actove </td>
												<td *ngIf="i%2!==0">Completed </td>

												<td class="text-center"> <input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault{{i}}"></td>
												<td class="text-center"> <input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault1{{i}}"></td>
												<td class="text-center"> <input class="form-check-input" type="checkbox"
														value="" id="flexCheckDefault2{{i}}"></td>

												<td>
													<a class="btn btn-xs btn-info ms-2"> <i class="fas fa-pencil"></i>
														Edit </a>
													<a class="btn btn-xs btn-danger ms-2"> <i class="fas fa-trash"></i>
														Delete </a>

												</td>

											</tr>

										</tbody>
									</table>
								</div>
								<!-- END table-responsive -->



							</div>
						</panel>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="notes" [ngClass]="{'active show':defualtTab === 'notes'}">
				<div class="row">
					<div class="col-xl-12">

						<div class="table-responsive">
							<panel title="Notes" noBody="true" noButton="true">
								<ng-container outsideBody>
									<div class="NgxEditor__Wrapper border" style=" background: #5c5f62 !important;">
										<ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
										<ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false"
											[placeholder]="'Type here...'"></ngx-editor>
									</div>

								</ng-container>
							</panel>
						</div>

					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="courtObs" [ngClass]="{'active show':defualtTab === 'courtObs'}">
				<div class="row">
					<div class="col-xl-12">
						<div class="text-end">
							<a href="#modal-addCourtobs" class="btn btn-success m-2" data-bs-toggle="modal">
								<i class="fas fa-plus"></i> Add CourtObs</a>
						</div>
						<panel title="Court Obs" noButton="true">
							<div class="table-responsive">

								<!-- BEGIN table-responsive -->
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th colspan="1">Date</th>
												<th nowrap>Hearing Type</th>
												<th nowrap>Observer</th>
												<th nowrap>Case Portion</th>
												<th nowrap>Case Name</th>
												<th nowrap>Case#</th>
												<th nowrap class="text-center">Case Jurisdiction</th>
												<th nowrap class="text-center">Observations</th>
												<th nowrap class="text-center">Files View</th>
												<th nowrap>Actions</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
												<td>{{i}}-02-2024</td>
												<td *ngIf="i%2===0">Jury Trail </td>
												<td *ngIf="i%2!==0">Paralegal </td>
												<td>Campbell</td>

												<td>Cross Exam</td>

												<td>P.Wilbert</td>

												<td>19CR252{{i}} </td>

												<td class="text-center">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault{{i}}">
												</td>
												<td class="text-center">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault1{{i}}">
												</td>
												<td class="text-center">
													<input class="form-check-input" type="checkbox" value=""
														id="flexCheckDefault2{{i}}">
												</td>

												<td>
													<a class="btn btn-xs btn-info ms-2"> <i class="fas fa-pencil"></i>
														Edit </a>
													<a class="btn btn-xs btn-danger ms-2"> <i class="fas fa-trash"></i>
														Delete </a>

												</td>

											</tr>

										</tbody>
									</table>
								</div>
								<!-- END table-responsive -->



							</div>
						</panel>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="profile" [ngClass]="{'active show':defualtTab === 'profile'}">
				<div class="row">
					<div class="col-xl-12">
						<panel title="Profile" noButton="true">
							<div class="table-responsive">
								<h2>Coming soon...</h2>
							</div>
						</panel>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="modal fade" id="modal-addContract">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add Contract</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
			</div>
			<div class="modal-body">
				 
				<div class="mb-3">
					<label class="form-label">ContractID <span class="text-red">*</span></label>
					<input type="text" name="ContractID" class="form-control" placeholder="ContractID"
						[(ngModel)]="contract.contractId">
				</div>
				<div class="mb-3">
					<label class="form-label">Type</label>
					<input type="text" name="Type" class="form-control" placeholder="Type"
					[(ngModel)]="contract.type">
				</div>

				<div class="mb-3">
					<label class="form-label">Start Date <span class="text-red">*</span></label>
					<input type="text" name="Start Date" class="form-control" placeholder="Start Date"
						[(ngModel)]="contract.startdate">
				</div> 
				<div class="mb-3">
					<label class="form-label">End Date <span class="text-red">*</span></label>
					<input type="text" name="enddate" class="form-control" placeholder="End Date"
						[(ngModel)]="contract.enddate"> 
				</div>
				<div class="mb-3">
					<label class="form-label">Date Sent<span class="text-red">*</span></label>
					<input type="text" name="datesent" class="form-control" placeholder="End Date"
						[(ngModel)]="contract.datesent"> 
				</div>
				<div class="mb-3">
					<label class="form-label">Status</label>
					<select class="form-control" [(ngModel)]="contract.status">
						<option value="">Select</option>
						<option value="Active">Active</option>
						<option value="Inactive">Completed</option>
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label"><span class="text-red">*</span> First Contract &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
					<input class="form-check-input" type="checkbox" value="" name="FirstContract" [(ngModel)]="contract.firstcontract"
					id="firstcontract">
				</div>

				<div class="mb-3">
					<label class="form-label"><span class="text-red">*</span>  Do Not Review &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<input class="form-check-input" type="checkbox" value="" name="Donotreview" [(ngModel)]="contract.donotreview"
					id="donotreview">
				</div>

				<div class="mb-3">
					<label class="form-label"> <span class="text-red">*</span> Juvenile &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<input class="form-check-input" type="checkbox" value="" name="Juvenile" [(ngModel)]="contract.juvenile"
					id="juvenile">
				</div>

				 
			</div>
			<div class="modal-footer">
				<a #hidden href="javascript:;" class="btn btn-white ms-2" data-bs-dismiss="modal">Close</a>
				<button type="submit" aria-hidden="true" class="btn btn-success ms-2">Save</button>
			</div>

		</div>
	</div>
</div>


<div class="modal fade" id="modal-addCourtobs">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Add CourtObs</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
			</div>

			<div class="modal-body">
				<div class="mb-3">
					<label class="form-label">Date <span class="text-red">*</span></label>
					<input type="text" name="Date" class="form-control" placeholder="Date"
						[(ngModel)]="courtobs.date">
				</div>
				 
		
				<div class="mb-3">
					<label class="form-label">Hearing Type <span class="text-red">*</span></label>
					<input type="text" name="Hearing Type" class="form-control" placeholder="Hearing Type"
						[(ngModel)]="courtobs.hearingtype">
				</div>
				
				<div class="mb-3">
					<label class="form-label">Observer</label>
					<input type="text" name="observer" class="form-control" placeholder="Observer"
					[(ngModel)]="courtobs.observer">
				</div>

				 
				<div class="mb-3">
					<label class="form-label">Case Portion <span class="text-red">*</span></label>
					<input type="text" name="caseportion" class="form-control" placeholder="Case Portion"
						[(ngModel)]="courtobs.caseportion"> 
				</div>
				
				<div class="mb-3">
					<label class="form-label">Case#<span class="text-red">*</span></label>
					<input type="text" name="Case" class="form-control" placeholder="Case"
						[(ngModel)]="courtobs.case"> 
				</div>
				<div class="mb-3">
					<label class="form-label">Case Name<span class="text-red">*</span></label>
					<input type="text" name="CaseName" class="form-control" placeholder="Case Name"
						[(ngModel)]="courtobs.casename"> 
				</div>
 
				<div class="mb-3">
					<label class="form-label"><span class="text-red">*</span> Case Jurisdiction &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </label>
					<input class="form-check-input" type="checkbox" value="" name="casejurisdiction" [(ngModel)]="courtobs.casejurisdiction"
					id="casejurisdiction">
				</div>

				<div class="mb-3">
					<label class="form-label"><span class="text-red">*</span> Observations&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<input class="form-check-input" type="checkbox" value="" name="observations" [(ngModel)]="courtobs.observations"
					id="observations">
				</div>

				<div class="mb-3">
					<label class="form-label"> <span class="text-red">*</span> File View &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
					<input class="form-check-input" type="checkbox" value="" name="fileview" [(ngModel)]="courtobs.fileview"
					id="fileview">
				</div>

				 
			</div>
			<div class="modal-footer">
				<a #hidden href="javascript:;" class="btn btn-white ms-2" data-bs-dismiss="modal">Close</a>
				<button type="submit" aria-hidden="true" class="btn btn-success ms-2">Save</button>
			</div>

		</div>
	</div>
</div>