<ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item"><a href="javascript:;">Train Models</a></li>

</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<app-ngxloader [ngxloader]="ngxloading"></app-ngxloader>

<h1 class="page-header">Train Models </h1>
<div class="d-flex align-items-center mb-3">
 
    <div class="ms-auto"> 
        <!-- <a href="#modal-dialog" class="btn btn-primary m-2" data-bs-toggle="modal" *ngIf="isAdmin || this.userProfile.role == 'OrganizationAdmin'" (click)="addApplicant = true;addOrganizationUser()">Train Org Model</a> -->
        
    </div>
</div>

<!-- <div *ngIf="organizationUserPagePer.create"> -->
<div>
    <div class="row mb-15px" *ngIf="(isAdmin || this.userProfile.role == 'OrganizationAdmin') && organizations && organizations.length >1 ">
        <label class="form-label col-form-label col-md-1">Select Organization</label>
        <div class="col-md-4">
            <select class="form-select" (change)="changeOrganization()" [(ngModel)]="selectedOrganizationId">
                <option  [ngValue]="null">--All--</option>
                <option *ngFor="let ozn of organizations" [ngValue]="ozn._id">{{ozn.organizationName}}</option>
            </select>
        </div>

    </div>
</div>
 


<div class="row">
    <div class="col-xl-12">
         
        <p-table #orgUsers styleClass="p-datatable-sm" [value]="organizationsModels" selectionMode="single"
            dataKey="email" [lazy]="false" [paginator]="true" [rows]="10" (onRowSelect)="onRowSelect($event)"
            [totalRecords]="totalRecords" [loading]="loading"
            [globalFilterFields]="['orgName','model']">
            
            <ng-template pTemplate="caption">
                <div class="row flex" *ngIf="organizationsModels && organizationsModels.length>0">
                    <div class="col-md-4">
                        &nbsp;&nbsp;&nbsp;<button style="padding: 0px 0px !important;
                width: 2rem;" type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    </div>
                    <div class="col-md-8" style="text-align: right;">
                        <span class="" style="padding-right:4px">
                            <button style="padding: 2px 2px !important; width:4rem;" type="button"
                                (click)="refreshGrid()" class="p-element btn btn-default btn-lg border" pTooltip="Refresh Grid" tooltipPosition="top"> 
                                <i class="fas fa-arrows-rotate"></i>
                            </button>
                        </span>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input style="padding: 2px 2.5rem;" pInputText type="text"
                                (input)="orgUsers.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search keyword" />
                        </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="orgName">Organization Name <p-sortIcon field="orgName"></p-sortIcon></th>
                    <th pSortableColumn="model">Organization Model Name <p-sortIcon field="model"></p-sortIcon></th>
                    <th >Options </th>
                    
                    <!-- <th *ngIf="organizationUserPagePer.create || isAdmin">Actions</th> -->
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-orgmodel>
                <tr>
                    <td>{{orgmodel.orgName}}</td>    
                    <td>{{orgmodel.model}}</td>                    
                    <!-- <td><a  class="btn btn-primary btn-sm m-2"   *ngIf="isAdmin || this.userProfile.role == 'OrganizationAdmin'" (click)="trinModel(orgmodel.model)">Train Model</a></td> -->
                    <td><a  class="btn btn-success btn-sm"   *ngIf="isAdmin || this.userProfile.role == 'OrganizationAdmin'" (click)="trainModel(orgmodel)">Train Model</a> </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" *ngIf="!organizationsModels" pTemplate="emptymessage">
                <tr>
                    <td class="text-center" colspan="3">No data found </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Organization Model</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="fs-13px">
                <div class="modal-body">
                    <div class="card-body">
                        <!-- <div class="mb-3">
                            <label class="form-label">Model Name <span class="text-red">*</span></label>
                            <input type="text" name="organizationModel" class="form-control" placeholder="First Name"
                                [(ngModel)]="orgModel.organizationModel">
                        </div> -->
                         
                        <div class="mb-3" *ngIf="isAdmin || this.userProfile.role == 'OrganizationAdmin'">
                            <label class="form-label">Organization Model <span class="text-red">*</span></label>
                            <select class="form-select" [(ngModel)]="orgModel.organizationId" name="selectedOrganizationId">
                                <option *ngFor="let ozn of organizationsModels" [ngValue]="ozn._id">{{ozn.model}}
                                </option>
                            </select>
                        </div>
 
                    </div>
                </div>
                <div class="modal-footer">
                    <a #hidden href="javascript:;" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                    <button type="submit" aria-hidden="true" class="btn btn-success" data-bs-dismiss="modal"> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>