<!-- BEGIN coming-soon -->
<div class="coming-soon">
    <!-- BEGIN coming-soon-header -->
      <div class="">
              <div class="bg-cover"></div>
              <div class="coming-soon-brand">
                <br/>
                      <span class="mt-2"> <img src="assets/tsnlogo.png"  width="150px" /></span> <br/>  <br/>  
                      <h3>Thank you for your interest in our AI platform.</h3>   <br/>  
                      <h3>We're experiencing high demand for the service and your account is currently under review and will receive an update shortly. </h3>   <br/>  
                        <h3> Please check your email for the code to start using the TSN AI platform</h3>   
                       
                       
              </div>
               
             
      </div>
    <!-- END coming-soon-header -->
    
    <!-- END coming-soon-content -->
  </div>
  <!-- END coming-soon -->
