.coming-soon-brand {
    font-size: 2.1875rem !important;
    font-weight: 300 !important;
    line-height: 1.2 !important;
    margin-bottom: 0.46875rem !important;
    text-align: center !important;
}