	<!-- BEGIN login-container -->
	<div class="login-container">
		<!-- BEGIN login-header -->
		<h6 class="mb-5"
			*ngIf="(this.accountService.browserName === 'edge') || (this.accountService.browserName === 'safari') ">
			<span class="text-red">We detected an unsupported browser - {{this.accountService.browserName}}.</span> <br>
			{{appDafaults.appName}} works best in Google Chrome and Firefox. We recommend to switch to Google Chrome
		</h6>

		<div class="login-header mb-30px">
			<div class="brand">
				<div class="d-flex align-items-center">

					<!-- {{appDafaults.appName}} -->
					<!-- {{appDafaults.appIcon}} -->
					<a href="https://www.coloradoadc.org/images/logo.jpg" class="navbar-brand"> <img
							src="{{appDafaults.appIcon}}" width="90%" /> </a>
				</div>

			</div>

		</div>
		<!-- END login-header -->

		<!-- BEGIN login-content -->
		<div class="login-content">
			<form #f="ngForm" (ngSubmit)="formSubmit(f)" class="fs-13px"
				*ngIf="(!isPasswordReset && !isForgotPassword && !verifyForgotPassword && !isMFASetUp)">
				<div class="form-floating mb-15px">
					<input type="text" class="form-control h-45px fs-13px" placeholder="Email Address" id="emailAddress"
						name="emailAddress" ngModel />
					<label for="emailAddress" class="d-flex align-items-center fs-13px text-gray-600">Email
						Address</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="Password" id="password"
						name="password" ngModel />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">Password</label>
				</div>
				<div class="form-check mb-30px">
					<input class="form-check-input" type="checkbox" value="1" id="rememberMe" />
					<label class="form-check-label" for="rememberMe">
						Remember Me
					</label>
				</div>
				<div class="mb-15px">
					<button type="submit" class="btn btn-primary d-block h-45px w-100 btn-lg fs-14px">Sign me
						in</button>
				</div>
				<!-- d-flex align-items-center mb-3 -->
				<div class="mb-40px pb-40px text-dark">
					<span *ngIf="showErrorMessage" class="text-red-600">{{errorMessage}}</span>
					<a class="text-primary" style="float: right;padding-right: 7px;"
						(click)="triggerForgotPassword()">Forgot Password?</a>
				</div>
				<hr class="bg-gray-600 opacity-2" />
				<div class="text-gray-600 text-center mb-0">
					&copy; {{appDafaults.appName}} All Right Reserved {{currentYear}}
				</div>
			</form>
			<form #f="ngForm" (ngSubmit)="formResetSubmit(f)" class="fs-13px" *ngIf="isPasswordReset">
				<label>For security reasons please create a new password for your account.</label>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px"
						placeholder="Enter temporary password sent to your email" id="oldpassword" name="oldpassword"
						ngModel />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">Enter temporary
						password sent to your email</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="New Password"
						id="newpassword" name="newpassword" ngModel />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">New Password</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="Re-enter New Password"
						id="reenterpassword" name="reenterpassword" ngModel />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">Re-enter New
						Password</label>
				</div>
				<div class="mb-15px">
					<button type="submit" class="btn btn-primary d-block h-45px w-100 btn-lg fs-14px">Reset
						Password</button>
				</div>
				<!-- <div class="mb-40px pb-40px text-dark">
					Not a member yet? Click <a routerLink="/register/v3" class="text-primary">here</a> to register.
				</div>
				 -->
			</form>
			<form #f="ngForm" (ngSubmit)="formForgotPasswordSubmit(f)" class="fs-13px" *ngIf="isForgotPassword">
				<h6>Forgot Password </h6>
				<h6 class="text-red-600">{{passwordMessage}} <a *ngIf="hideVerifyPassword"
						href='javascript:void(0)'>support@coloradorangers.gov</a></h6>
				<div *ngIf="!hideVerifyPassword" class="form-floating mb-15px">
					<input type="text" class="form-control h-45px fs-13px" placeholder="Email Address" id="emailAddress"
						name="emailAddress" ngModel />
					<label for="emailAddress" class="d-flex align-items-center fs-13px text-gray-600">Email
						Address</label>
				</div>
				<div *ngIf="!hideVerifyPassword" class="mb-15px">
					<button type="submit" class="btn btn-primary d-block h-45px w-100 btn-lg fs-14px">Verify</button>
				</div>
				<!-- <div class="mb-40px pb-40px text-dark">
					Not a member yet? Click <a routerLink="/register/v3" class="text-primary">here</a> to register.
				</div>
				 -->
			</form>
			<form #f="ngForm" (ngSubmit)="formVerifyForgotPasswordSubmit(f)" class="fs-13px"
				*ngIf="verifyForgotPassword">
				<h6>Verify Password</h6>
				<h6> verification code sent to your email, please check</h6>
				<div class="form-floating mb-15px">
					<input type="text" class="form-control h-45px fs-13px" placeholder="Email Address" id="emailAddress"
						name="emailAddress" ngModel="{{emailAddress}}" />
					<label for="emailAddress" class="d-flex align-items-center fs-13px text-gray-600">Email
						Address</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="text" class="form-control h-45px fs-13px" placeholder="Verification Code" id="code"
						name="code" ngModel />
					<label for="code" class="d-flex align-items-center fs-13px text-gray-600">Code</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="New Password"
						id="newpassword" name="newpassword" ngModel />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">New Password</label>
				</div>
				<div class="form-floating mb-15px">
					<input type="password" class="form-control h-45px fs-13px" placeholder="Re-enter New Password"
						id="reenterpassword" name="reenterpassword" ngModel />
					<label for="password" class="d-flex align-items-center fs-13px text-gray-600">Re-enter New
						Password</label>
				</div>

				<div class="mb-15px">
					<button type="submit" class="btn btn-primary d-block h-45px w-100 btn-lg fs-14px">Verify</button>
				</div>
				<!-- <div class="mb-40px pb-40px text-dark">
					Not a member yet? Click <a routerLink="/register/v3" class="text-primary">here</a> to register.
				</div>
				 -->
			</form>
			<form #f="ngForm" (ngSubmit)="confirmMFACode(f)" class="fs-13px" *ngIf="isMFASetUp">
				<h4>Multi-factor Authentication</h4>
				<hr />
				<div>Enter an MFA code to complete sign-in.</div>
				<b>MFA Code:</b>
				<div class="form-floating mb-15px">
					<input type="text" class="form-control h-45px fs-13px" name="mfacode"
						placeholder="Please enter MFA code" id="mfacode" ngModel />
				</div>
				<div class="mb-15px">
					<button type="submit" class="btn btn-primary d-block h-45px w-100 btn-lg fs-14px">Submit</button>
				</div>
				<!-- <div class="mb-40px pb-40px text-dark">
					Not a member yet? Click <a routerLink="/register/v3" class="text-primary">here</a> to register.
				</div>
				 -->
			</form>
			<ngx-loading [show]="loading" [config]="{
					animationType: ngxLoadingAnimationTypes.circle,
					primaryColour: primaryColour,
					secondaryColour: secondaryColour,
					backdropBorderRadius: '3px'
				}"></ngx-loading>
		</div>
		<!-- END login-content -->
	</div>