.p-component {   
    font-size: 14px;
}

.menu-text:hover{
    cursor: pointer;
}

.panel-header-style{
    margin-bottom: 0px !important;
    background: var(--bs-gray-900);
    color: var(--bs-white);
    padding: 0.75rem 0.9375rem;
    line-height: 1.35;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 0.875rem;        
}