<div class="rounded mt-10px">
    <div class="widget-header">
        <div class="widget-header-title">
            <span class="fs-18px" style="line-height:35px;">Uploaded Files</span>


            <a #hidden class="float-end btn btn-primary" href="#applicantfile_modal" data-bs-toggle="modal" *ngIf="defualtTab === 'files' "
                data-bs-target="#staticBackdrop" (click)="checkModelSelection()"><i class="fas fa-plus"></i> Add
                File's</a>
            <!-- <span *ngIf="applicantFiles.length && applicantFiles.length>1">
                <a class="float-end btn btn-primary me-10px " (click)="downloadAllFile()" data-bs-toggle="modal" ><i class="fa fa-download"></i> Download All Files</a></span> -->

        </div>
    </div>
    <div class="pt-3 pb-3">
        <div class="row">
            <div class="row mb-15px" *ngIf="isAdmin || this.userProfile.role == 'OrganizationAdmin'">

                <div class="col-lg-2 col-md-6" style="width: auto;" *ngIf="organizations && organizations.length > 1">
                    <label class="form-label col-form-label">Select Organization</label>
                </div>

                <div class="col-lg-3 col-md-6  mb-2" *ngIf="organizations && organizations.length > 1">
                    <select class="form-select" (change)="changeOrganization()" [(ngModel)]="selectedOrganizationId">
                        <option value="">All</option>
                        <option *ngFor="let ozn of organizations" [ngValue]="ozn._id">{{ozn.organizationName}}</option>
                    </select>
                </div>

                <div class="col-lg-2 col-md-6" style="width: auto;"><label class="form-label col-form-label ">Select
                        Model</label> </div>

                <div class="col-md-6 col-lg-3  ">
                    <select class="form-select" (change)="changeOrganizationModel()" [(ngModel)]="selectedModelId">
                        <option value="">All</option>
                        <option *ngFor="let ozn of organizationsModels" [ngValue]="ozn._id">{{ozn.model}}</option>
                    </select>

                </div>
                <div class="col-md-4 col-lg-2 mb-2" style="width: auto;"
                    *ngIf="this.selectedModelId && this.selectedModelId != '' && this.selectedOrganizationId && this.selectedOrganizationId != '' ">
                    <a class="btn btn-primary" (click)="trainModel()"><i class="fa-solid fa-train"></i><span
                            class="fs-12px">&nbsp; Train Model</span></a>
                </div>

            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-xl-12 mb-15px">
                <!-- <div class="col-lg-12" *ngIf="!organizationFiles.length">
                    <span>Click + to add files </span>
                </div> -->


                <ul class="nav nav-tabs">
                    <li class="nav-item" (click)="defualtTab = 'files'">
                        <a href="#files" data-bs-toggle="tab" class="nav-link active"
                            [ngClass]="{'active':defualtTab==='files'}">
                            <span class="d-sm-block">Files</span>
                        </a>
                    </li>
                    
                </ul>
                <div class="tab-content panel rounded-0 p-3 m-0">
                    <div class="tab-pane fade" id="files" [ngClass]="{'active show':defualtTab === 'files'}">
                        <div class="row">
                            <div class="col-xl-12">
                                <p-table #orgUsers styleClass="p-datatable-sm" [value]="organizationFiles"
                                    *ngIf="organizationFiles" selectionMode="single" dataKey="_id" [lazy]="false"
                                    [paginator]="true" [rows]="10" [totalRecords]="organizationFilesTotalRecords"
                                    [globalFilterFields]="['fileName','orgName','modelName']" [loading]="loading">
                                    <ng-template pTemplate="caption">
                                        <div class="row flex" *ngIf="organizationFiles && organizationFiles.length>0">
                                            <div class="col-md-4">

                                            </div>
                                            <div class="col-md-8" style="text-align: right;">
                                                <span class="" style="padding-right:4px">
                                                    <button style="padding: 2px 2px !important; width:4rem;"
                                                        type="button" (click)="refreshGrid()"
                                                        class="p-element btn btn-default btn-lg border"
                                                        pTooltip="Refresh Grid" tooltipPosition="top">
                                                        <i class="fas fa-arrows-rotate"></i>
                                                    </button>
                                                </span>
                                                <span class="p-input-icon-left ml-auto">
                                                    <i class="pi pi-search"></i>
                                                    <input style="padding: 2px 2.5rem;" pInputText type="text"
                                                        (input)="orgUsers.filterGlobal($event.target.value, 'contains')"
                                                        placeholder="Search keyword" />
                                                </span>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th pSortableColumn="fileType">File<p-sortIcon
                                                    field="fileType"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="fileType">Organization<p-sortIcon
                                                    field="fileType"></p-sortIcon></th>
                                            <th pSortableColumn="fileType">Model<p-sortIcon
                                                    field="fileType"></p-sortIcon>
                                            </th>
                                            <th pSortableColumn="fileType">Status 
                                            </th>
                                            <!-- <th pSortableColumn="uploadedDt">Uploaded Date<p-sortIcon field="uploadedDt"></p-sortIcon></th> -->
                                            <th pSortableColumn="fileType">Actions</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-file>
                                        <tr>
                                            <td>{{file.fileName}}</td>
                                            <td>{{file.orgName}}</td>
                                            <td>{{file.modelName}}</td>
                                            <td>{{file.isDeleted==false?"Active":"In-Active"}}</td>
                                            <!-- <td> {{file.uploadedDt}}</td> -->
                                            <td>
                                                <a class="btn btn-sm btn-icon btn-success"
                                                    (click)="downloadFile(file)"><i class="fa fa-download"></i> </a>
                                                &nbsp;
                                                <a class="btn btn-sm btn-icon btn-circle btn-danger"
                                                    (click)="deleteOrganizationFile(file)"><i
                                                        class="fas fa-trash"></i></a>

                                                <!-- <a class="btn btn-sm btn-warning" (click)="reupload(file)"><i class="fa fa-upload"></i>  Reupload</a> -->
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" *ngIf="!organizationFiles" pTemplate="emptymessage">
                                        <tr>
                                            <td class="text-center" colspan="5">No data found </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="paginatorleft" let-state>
                                        Total Records - {{state.totalRecords}} 
                                    </ng-template>

                                </p-table>

                            </div>
                        </div>
                    </div>
 
                </div>
                 

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="applicantfile_modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add File</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-10px">


                    <div class="col-lg-12 form-group mb-3">
                        <label class="form-label">Select Organization</label>
                        <div class="input-group">
                            <select class="form-select" (change)="changeOrganization()"
                                [(ngModel)]="selectedOrganizationId">
                                <option *ngFor="let ozn of organizations" [ngValue]="ozn._id">{{ozn.organizationName}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-12 form-group  mb-3">
                        <label class="form-label">Organization Models</label>
                        <div class="input-group">
                            <select class="form-select" [(ngModel)]="fileType" style="width: 330px;">
                                <option value="">Select Model</option>
                                <option *ngFor="let ozn of organizationsModels" [ngValue]="ozn.model">{{ozn.model}}
                                    <!-- <option *ngFor="let ozn of organizationsModels" [ngValue]="ozn.model">{{ozn.model}}                                                       -->
                            </select>
                        </div>
                    </div>
 

                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-white" data-bs-dismiss="modal">Close</a>
                <a href="javascript:;" data-bs-dismiss="modal"  
                    class="btn btn-success">Save</a>
            </div>
        </div>
    </div>
</div>
 

<app-ngxloader [ngxloader]="ngxloading"></app-ngxloader>